@model LaptopStore.Data.Models.Position
@{
    ViewBag.Title = "Sửa thông tin vị trí";
}

@section PositionUpdateJS{
<script src='~/js/PositionUpdate.js'></script>
}

<div class="row">
    <div class="col">
        <h2 class="text-info">Sửa thông tin tài khoản</h2>
        <hr />
        <div class="col-md-12">

            @*@Html.AntiForgeryToken()*@
            @using (Html.BeginForm())
            {
                <div class="row mb-2">
                    <div id="msg">
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-md-6">
                        @Html.LabelFor(x => x.Name, new { @class = "form-label fs-4" })
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control fs-4", @id="positionName", @readonly = "readonly" })
                        @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(x => x.Acreage, new { @class = "form-label fs-4" })
                        @Html.TextBoxFor(x => x.Acreage, new { @class = "form-control fs-4" , @id="acreage"})
                        @Html.ValidationMessageFor(x => x.Acreage, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(x => x.Quantity, new { @class = "form-label fs-4" })
                        @Html.TextBoxFor(x => x.Quantity, new { @class = "form-control fs-4" , @id="productQuantity"})
                        @*@Html.EditorFor(x => x.FullName, new { htmlAttributes = new { @class = "form-control fs-4", @id="fullname" }, Type = "date" })*@
                        @Html.ValidationMessageFor(x => x.Quantity, "", new { @class = "text-danger" })
                    </div>
                    @* <div class="col-md-6">
                        @Html.LabelFor(x => x.Picture, new { @class = "form-label fs-4" })
                        @Html.TextBoxFor(x => x.Picture, new { @class = "form-control fs-4", Type = "file" })
                        @Html.ValidationMessageFor(x => x.Picture, "", new { @class = "text-danger" })
                        </div>*@
                </div>

                <div class="col-md-12 d-flex justify-content-lg-end mt-2">
                    <button class="btn btn-success btn-lg col-4" onclick="UpdatePosition('@Model.Id')">Lưu</button>
                </div>
            }


            <div class="col-md-12 d-flex justify-content-lg-start mt-2">
                <a href="@Url.Action("Index", "Account")" class="btn btn-danger btn-sm fs-4"><i class="fa-regular fa-hand-back-point-left"></i> Trở về danh sách</a>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @*<script src="~/Content/JS/jquery-3.6.0.js"></script>*@
<script src="~/lib/jquery/dist/jquery.js"></script>
    @*<script src="~/Content/JS/jquery.validate.js"></script>*@
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    @*<script src="~/Content/JS/jquery.validate.unobtrusive.js"></script>*@
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @*<script src="~/Content/JS/jquery.unobtrusive-ajax.js"></script>*@
<script>
    $("#form0").attr("enctype", "multipart/form-data")

    function clearAll() {
        $("#form0").trigger("reset");
    }
</script>


}