<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LaptopStore.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LaptopStore.Web.styles.css" asp-append-version="true" />
    @RenderSection("AccountListCSS", required: false)
</head>
<body>
    <div class="wrapper">
        @*Sidebar Navegation Start Here*@
        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <a class="sidebar-toggle js-sidebar-toggle">
                    <i class="hamburger align-self-center"></i>
                </a>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align">
                        @*Top Navegation Start Here*@
                        <li class="nav-item dropdown">
                            <a class=" d-inline-block d-sm-none nav-link fs-4" href="#">
                                <i class="fa-duotone fa-hands-clapping"></i>&nbsp;<span>Hello!&nbsp;</span>
                                @*<i class="fa-duotone fa-hands-clapping"></i>&nbsp;<span>Hello!&nbsp;@Session["username"]</span>*@
                            </a>

                            <a class="nav-link d-none d-sm-inline-block fs-4" href="#" data-bs-toggle="dropdown">
                                <i class="fa-duotone fa-hands-clapping"></i>&nbsp;<span>Hello!&nbsp;</span>
                                @*<i class="fa-duotone fa-hands-clapping"></i>&nbsp;<span>Hello!&nbsp;@Session["username"]</span>*@
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link d-none d-sm-inline-block fs-4" href="@Url.Action("Index", "Profile")">
                                <i class="fa-solid fa-user"></i>&nbsp;<span>Profile</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-none d-sm-inline-block fs-4" href="@Url.Action("Logout", "admin_Login")">
                                <i class="fa-regular fa-right-from-bracket"></i>&nbsp;<span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            @*Content Area Srart Here*@
            <div class="content">
                <div class="container-fluid p-0">
                    @RenderBody()
                </div>
            </div>
            @*Footer Section Start*@
           @* <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-muted">
                        <div class="col-6 text-start">
                            <p class="mb-0">
                                <a class="text-muted nav-link" href="@Url.Action("Index", "Dashboard")">&copy; @DateTime.Now.Year<strong>&nbsp;IsDB-BISEW</strong></a>
                            </p>
                        </div>
                    </div>
                </div>
            </footer>*@
        </div>
    </div>
    @*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">LaptopStore.Web</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - LaptopStore.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/baseCRUD.js"></script>
    @await RenderSectionAsync("AccountListJS", required: false)
    @await RenderSectionAsync("AccountCreateJS", required: false)
    @await RenderSectionAsync("AccountUpdateJS", required: false)
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
