@using LaptopStore.Data.ModelDTO.Receipt
@model LaptopStore.Data.Models.Receipt;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=
*@

@{
    string statusText = @Model.Status == 0 ? "Mới" : "Hoàn thành";
    var receiptDetails = ViewBag.ReceiptDetails;
    var supplier = ViewBag.Supplier;
    var totalPrice = ViewBag.TotalPrice;
}
<style type="text/css">
    .detail-info {
        grid-template-columns: 30% 70%;
    }

    .detail-info .label-text {
        font-weight: 600;
    }

    /*#receiptDetail .modal-content {
        width: 1024px !important;
    }*/

    .detail-info .d-grid {
        margin-bottom: 24px;
    }

    /*#receiptDetail thead tr th {
        width: 200px !important;
    }

    #receiptDetail tbody tr td {
        width: 200px !important;
    }*/
</style>
<div class="detail-info d-grid mb-3">
    <div class="label-text">Thời gian nhập:</div>
    <div class="value-text">@Model.ImportTime</div>
    <div class="label-text">Trạng thái:</div>
    <div class="value-text">@statusText</div>
    <div class="label-text">Nhân viên:</div>
    <div class="value-text">@Model.Username</div>
    <div class="label-text">Nhà cung cấp:</div>
    <div class="value-text">@supplier.Name</div>
</div>
<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table table-condensed table-hover table-bordered table-striped table">
                <thead>
                    <tr>
                        <th>Tên sản phẩm</th>
                        <th>Ảnh</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Thành tiền</th>
                    </tr>
                </thead>
                <tbody id='table-body'>
                    @foreach (var item in (List<ReceiptProductViewDTO>)receiptDetails)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>
                                <img style="max-width: 100px;" src="@item.Image"></img>
                            </td>
                            <td>@item.Quantity</td>
                            <td> @item.UnitPrice</td>
                            <td>@item.Total</td>
                        </tr>
                    }
                    <tr>
                        <td></td>
                        <td></td>
                        <td> </td>
                        <td> </td>
                        <td>@totalPrice</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation example">
            <ul id='pagination' class="pagination justify-content-end align-items-center mt-2">
            </ul>
        </nav>
    </div>
</div>
