@using System;
@model List<LaptopStore.Data.ModelDTO.Receipt.ReceiptProductViewDTO>;
@{
    var totalPrice = ViewBag.TotalPrice;
}
<style type="text/css">
    .detail-info {
        grid-template-columns: 30% 70%;
    }

    .detail-info .label-text {
        font-weight: 600;
    }

    #receiptDetail .modal-content {
        width: 1024px !important;
    }

    .detail-info .d-grid {
        margin-bottom: 24px;
    }

    #receiptDetail thead tr th {
        width: 200px !important;
    }

    #receiptDetail tbody tr td {
        width: 200px !important;
    }
</style>
<h4 class="text-info mt-4">Danh sách sản phẩm</h4>
<div class="row" id="receiptProducts">
    <div class="col">
        <div class="table-responsive">
            <table class="table table-condensed table-hover table-bordered table-striped table">
                <thead>
                    <tr>
                        <th>Tên sản phẩm</th>
                        <th>Ảnh</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in @Model)
                    {
                        <tr id="@item.Id">
                            <td>@item.Name</td>
                            <td>
                                <img style="max-width: 100px;" src="@item.Image"></img>
                            </td>
                            <td class="pe-auto"><input type="number" class="quantity" style="width: 100px;" value='@item.Quantity'></input></td>
                            <td class="pe-auto"><input type="number" class="unit-price" style="width: 100px;" value='@item.UnitPrice'></input></td>
                            <td class="amount">@item.Total</td>
                        </tr>
                    }
                    <tr>
                        <td></td>
                        <td></td>
                        <td> </td>
                        <td> </td>
                        <td class="total-amount"><b>@totalPrice</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
