@model LaptopStore.Data.Models.Receipt

@{
    ViewData["Title"] = "Thêm mới nhập kho";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section ReceiptCreateJS {
    <script src='~/js/Receipt/ReceiptCreate.js'></script>
}

<h2 class="text-info">@ViewData["Title"]</h2>
<hr />

<div class="row w-full" id="createReceipt">
    <div class="col-md-12">
        <form id="create-receipt-form">
            <div class="form-group flex-fill mb-2 d-none">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="d-flex gap-3">
                <div class="form-group flex-fill mb-2">
                    <label asp-for="ImportTime" class="control-label"></label>
                    <input id="importTime" asp-for="ImportTime" class="form-control" />
                    <span asp-validation-for="ImportTime" class="text-danger"></span>
                </div>
                <div class="form-group flex-fill mb-2">
                    <label asp-for="Status" class="control-label"></label>
                    <select id="status" asp-for="Status" class="form-select">
                        <option value="0">Mới</option>
                        <option value="1">Hoàn thành</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            </div>
            <div class="d-flex gap-3">

                <div class="form-group flex-fill mb-2">
                    <label class="control-label">Nhân viên</label>
                    @*<input asp-for="Customer" class="form-control" />*@
                    <select id="customer" class="form-select">
                        @for (var i = 0; i < @ViewBag.Customer.Count; i++)
                        {
                            <option value="@ViewBag.Customer[i].Id">@ViewBag.Customer[i].LastName  @ViewBag.Customer[i].FirstName</option>
                        }
                    </select>
                    <span class="text-danger"></span>
                </div>

                <div class="form-group d-none flex-fill mb-2">
                    <label asp-for="CreatedDate" class="control-label"></label>
                    <input asp-for="CreatedDate" class="form-control" />
                    <span asp-validation-for="CreatedDate" class="text-danger"></span>
                </div>
            </div>

            <div class="d-flex d-none gap-3">
                <div class="form-group flex-fill mb-2">
                    <label asp-for="CreatedBy" class="control-label"></label>
                    <input asp-for="CreatedBy" class="form-control" />
                    <span asp-validation-for="CreatedBy" class="text-danger"></span>
                </div>
                <div class="form-group flex-fill mb-2">
                    <label asp-for="ModifiedDate" class="control-label"></label>
                    <input asp-for="ModifiedDate" class="form-control" />
                    <span asp-validation-for="ModifiedDate" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group d-none flex-fill mb-2">
                <label asp-for="ModifiedBy" class="control-label"></label>
                <input asp-for="ModifiedBy" class="form-control" />
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>
        </form>
        <div class="form-group flex-fill mb-2 btn btn-danger" onclick="OpenModalAddProduct()"><a>+ Thêm sản phẩm</a></div>
        <hr />
        <div class="d-flex gap-3 mt-2 d-none" id="receiptProductsWrapper">
            <div id="receiptProducts">
                <div class="row">
                    <div class="col">
                        <h4 class="text-info">Danh sách sản phẩm</h4>
                        <div class="table-responsive">
                            <table class="table table-condensed table-hover table-bordered table-striped table">
                                <thead>
                                    <tr>
                                        <th>Tên sản phẩm</th>
                                        <th>Ảnh</th>
                                        <th>Số lượng nhập</th>
                                        <th>Đơn giá nhập</th>
                                        <th>Thành tiền</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 d-flex justify-content-lg-end mt-2">
            <button class="btn btn-success btn-lg col-2" onclick="CreateReceipt()">Lưu</button>
        </div>

        <!-- Modal add product-->
        <div class="modal fade" id="modalAddProduct" tabindex="-1" aria-labelledby="deleteConfirmLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-6" id="deleteConfirmLabel">Chọn sản phẩm</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex gap-3 mt-2">
                            <div id="receiptProductsModal">
                                <div class="row">
                                    <div class="col">
                                        <h4 class="text-info">Danh sách sản phẩm</h4>
                                        <div class="table-responsive">
                                            <table class="table table-condensed table-hover table-bordered table-striped table">
                                                <thead>
                                                    <tr>
                                                        <th><input type="checkbox" id="selectAll" /></th>
                                                        <th>Tên sản phẩm</th>
                                                        <th>Ảnh</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="CloseAddProductModal()">Đóng</button>
                        <button id="btn-save-product" type="button" class="btn btn-primary btn-success" onclick="handleClickAddProductToReceipt()">Lưu</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="col-md-12 d-flex justify-content-lg-start mt-2">
    <a href="@Url.Action("Index", "Receipt")" class="btn btn-danger btn-sm fs-4"><i class="fa-regular fa-hand-back-point-left"></i><< Trở về danh sách</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
