@model IEnumerable<LaptopStore.Data.Models.Receipt>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section ReceiptListCSS {
    <style type="text/css">
        tbody {
            max-height: calc(100vh - 71px - 300px);
        }

        #receiptDetail .modal-dialog {
            max-width: 800px !important;
        }
        
    </style>
}

@section ReceiptListJS {
    <script src='~/js/Receipt/ReceiptList.js'></script>
}

<div class="row">
    <div id="listArea" class="col position-relative">
        <h2 class="text-info">Danh sách nhập kho</h2>
        <hr />
        <div class="d-flex justify-content-between mb-2">
            <form class="form-inline d-flex">
                <input id='search-text' class="form-control mr-sm-2" style="margin-right:8px;width:300px" placeholder="Tìm kiếm" aria-label="Search">
                <button id='btn-search' class="btn btn-outline-success my-2 my-sm-0">Tìm kiếm</button>
            </form>
            <a href="@Url.Action("Create", "Receipt")" class="btn btn btn-outline-primary">Thêm mới</a>
        </div>
        <div class="table-responsive">
            <table class="table table-condensed table-hover table-bordered table-striped table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(e => e.Code)</th>
                        <th>@Html.DisplayNameFor(e => e.ImportTime)</th>
                        <th>@Html.DisplayNameFor(e => e.Status)</th>
                        <th>@Html.DisplayNameFor(e => e.Username)</th>
                        <th>@Html.DisplayNameFor(e => e.SupplierId)</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id='table-body'>
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation example">
            <ul id='pagination' class="pagination justify-content-end align-items-center mt-2">
                @*<li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Trước</span>
                </a>
                </li>
                <li class="page-item"><a class="page-link" href="#" data-page="1">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Sau</span>
                </a>
                </li>*@
            </ul>
        </nav>
    </div>
</div>


<!-- Modal View Detail-->
<div class="modal fade" id="receiptDetail" tabindex="-1" aria-labelledby="receiptDetailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="receiptDetailLabel">Thông tin chi tiết</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="receiptDetailBody" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Confirm Delete-->
<div class="modal fade" id="deleteConfirm" tabindex="-1" aria-labelledby="deleteConfirmLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-6" id="deleteConfirmLabel">Xác nhận</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn xóa?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button id="btn-delete-confirm" type="button" class="btn btn-primary btn-danger">Xóa</button>
            </div>
        </div>
    </div>
</div>