@model LaptopStore.Data.ModelDTO.Supplier.SupplierSaveDTO
@{
    ViewBag.Title = "Thêm mới nhà cung cấp";
}

@section SupplierCreateJS {
    <script src='~/js/Supplier/SupplierCreate.js'></script>
}

<div class="row">
    <div class="col">
        <h2 class="text-info">Thêm mới nhà cung cấp</h2>
        <hr />
        <div class="col-md-12">

            @*@Html.AntiForgeryToken()*@
            <form id="create-supplier-form">

                <div class="row mb-2">
                    <div id="msg">
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-md-6">
                        @Html.LabelFor(x => x.Name, new { @class = "form-label fs-4" })
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control fs-4", @id = "supplierName" })
                        @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(x => x.ContactName, new { @class = "form-label fs-4" })
                        @Html.TextBoxFor(x => x.ContactName, new { @class = "form-control fs-4", @id = "contactName" })
                        @Html.ValidationMessageFor(x => x.ContactName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(x => x.Phone, new { @class = "form-label fs-4" })
                        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control fs-4", @id = "phone" })
                        @Html.ValidationMessageFor(x => x.Phone, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(x => x.Email, new { @class = "form-label fs-4" })
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control fs-4", @id = "email" })
                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-12 d-flex justify-content-lg-end mt-2">
                    <button class="btn btn-success btn-lg col-4" onclick="CreateSupplier()">Lưu</button>
                </div>


            </form>


            <div class="col-md-12 d-flex justify-content-lg-start mt-2">
                <a href="@Url.Action("Index", "Supplier")" class="btn btn-danger btn-sm fs-4"><i class="fa-regular fa-hand-back-point-left"></i> Trở về danh sách</a>
            </div>
        </div>
    </div>
</div>